// Variables
@import 'vars';
@import 'customize-bootstrap';
@import 'bootstrap-source/bootstrap';
// Vendor plugin files 
@import 'bootstrap-datetimepicker.min';
@import 'notify';
@import 'pace';
@import 'jqvmap';
@import 'bootstrap-notifications';

//Admin Panel Essentials
@import 'panelStyles/panelApp';
@import 'panelStyles/helpers';

//Admin Panel Components
@import 'component/header';
@import 'component/sidebar';
@import 'component/sidebar-mini';

@import 'widgets';

@import 'sweetalert';

@import 'user-profile';

@import 'chat';

@import 'login';

// Componant: Card
//own fonts
@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?ec5hli');
  src:  url('/fonts/icomoon.eot?ec5hli#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?ec5hli') format('truetype'),
    url('/fonts/icomoon.woff?ec5hli') format('woff'),
    url('/fonts/icomoon.svg?ec5hli#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tile {
	position: relative;
	background: #ffffff;
	border-radius: 3px;
	padding: 20px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	margin-bottom: 30px;
	transition: all 0.3s ease-in-out;

	@media print {
		border: 1px solid #ddd;
	}

	&.small { padding: 0; }

	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: rgba(255, 255, 255, 0.9);
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		color: #555;
		border-radius: 3px;

		.l-text {
			font-size: 24px;
			margin-top: 15px;
		}
	}

	.tile-title {
		margin-top: 0;
		margin-bottom: 20px;
		font-size: 1.5rem;
	}

	.tile-title-w-btn {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 20px;

		p { margin: 0; }

		.title { margin: 0; }

		.side {
			margin-bottom: 0;
			padding-left: 0;
		}

		.btn-group { flex: 0 0 auto; }
	}

	.tile-footer {
		border-top: 1px solid #ddd;
		padding: 20px 0 0 0;
		margin-top: 10px;
	}
}

#app_chat{
	display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
}
.clear:before, .clear:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}

.clear:after {
    clear: both;
}
.select2-container .select2-selection--single {
	min-height:  37px !important;
}

.bg-success-light{
	background-color: #B3F48D !important;
}

.status_0{
	background-color: $warning !important;
}
.status_1{
	background-color: $danger !important;
}
.status_2{
	background-color: $info !important;
}
.status_3{
	background-color: #B3F48D !important;
}
.bg_0{
	background-color: $info !important;
}
.bg_1{
	background-color: $danger !important;
}
.bg_2{
	background-color: $success !important;
}
.bg_3{
	background-color: #B3F48D !important;
}
.removebtn {
	color:black;
	position:absolute;
	z-index: 1001;
	top: 0;
	right: 0;
	width:13px;
	height: 13px;
}

.popover-header{
	background-color: $primary;
}

.big-margin-top{
	margin-top: 150px;
}

.icon-avocado:before {
  content: "\e900";
}
